soap/data/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="comments">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="comment">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id_area" type="xs:byte"/>
							<xs:element name="author" type="xs:string"/>
							<xs:element name="content" type="xs:string"/>
							<xs:element name="rate" type="xs:byte"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
